/* Light */

.buttonMainContainer {
  position: absolute;
  width: 423px;
  height: 507px;
  left: 0px;
  top: 351px;
}

.percentage {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 224px;
  top: 377px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 39px;
  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;

  color: #373737;

  z-index: 10;
}

.plusMines {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 129px;
  top: 377px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 39px;
  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;

  color: #373737;

  z-index: 10;
}

.ac {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 34px;
  top: 377px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 39px;
  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;

  color: #373737;

  z-index: 10;
}

.three {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 224px;
  top: 467px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 39px;
  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;

  color: #373737;

  z-index: 9;
}

.two {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 129px;
  top: 467px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 39px;
  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;

  color: #373737;

  z-index: 9;
}

.one {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 34px;
  top: 467px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 39px;
  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;

  color: #373737;

  z-index: 9;
}

.six {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 224px;
  top: 557px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 39px;
  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;

  color: #373737;

  z-index: 9;
}

.five {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 129px;
  top: 557px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 39px;
  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;

  color: #373737;

  z-index: 9;
}

.four {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 34px;
  top: 557px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 39px;
  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;

  color: #373737;

  z-index: 9;
}

.nine {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 224px;
  top: 647px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 39px;
  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;

  color: #373737;

  z-index: 9;
}

.eight {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 129px;
  top: 647px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 39px;
  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;

  color: #373737;

  z-index: 9;
}

.seven {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 34px;
  top: 647px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 39px;
  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;

  color: #373737;

  z-index: 9;
}

.times {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 319px;
  top: 467px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 39px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  color: #373737;

  z-index: 9;
}

.mines {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 319px;
  top: 557px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 39px;
  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;

  color: #373737;

  z-index: 9;
}

.plus {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 319px;
  top: 647px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 39px;
  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;

  color: #373737;

  z-index: 9;
}

.equal {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 319px;
  top: 737px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 39px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  color: #373737;

  z-index: 10;
}

.twoZero {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 224px;
  top: 737px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 39px;
  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;

  color: #373737;

  z-index: 9;
}

.zero {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 129px;
  top: 737px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 39px;
  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;

  color: #373737;

  z-index: 9;
}

.dot {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 34px;
  top: 737px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 39px;
  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;

  color: #373737;

  z-index: 9;
}

.frame3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;

  position: absolute;
  width: 70px;
  height: 340px;
  left: 224px;
  top: 467px;

  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.05));
  z-index: 8;
}

.frame2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;

  position: absolute;
  width: 70px;
  height: 340px;
  left: 129px;
  top: 467px;

  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.05));
  z-index: 8;
}

.frame1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;

  position: absolute;
  width: 70px;
  height: 340px;
  left: 34px;
  top: 467px;

  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.05));
  z-index: 8;
}

.ellipse2 {
  /* Ellipse 2 */

  width: 70px;
  height: 70px;

  background: rgba(255, 255, 255, 0.3);

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  z-index: 9;
  border-radius: 50%;
}

.ellipse3 {
  width: 70px;
  height: 70px;

  background: rgba(255, 255, 255, 0.3);

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  z-index: 9;
  border-radius: 50%;
}

.ellipse4 {
  width: 70px;
  height: 70px;

  background: rgba(255, 255, 255, 0.3);

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
  z-index: 9;
  border-radius: 50%;
}

.ellipse5 {
  width: 70px;
  height: 70px;

  background: rgba(255, 255, 255, 0.3);

  /* Inside auto layout */

  flex: none;
  order: 3;
  flex-grow: 0;
  z-index: 9;
  border-radius: 50%;
}

.rectangle5 {
  position: absolute;
  width: 260px;
  height: 70px;
  left: 34px;
  top: 377px;

  background: rgba(255, 255, 255, 0.3);
  /* aa */

  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.05);
  border-radius: 40px;
  z-index: 9;
}

.div {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 319px;
  top: 377px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 39px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  color: #373737;
  z-index: 10;
}

.ellipse5main {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 319px;
  top: 737px;

  background: rgba(255, 255, 255, 0.2);
  /* aa */
  border-radius: 40px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.05);
  z-index: 9;
}

.rectangle4 {
  position: absolute;
  width: 70px;
  height: 430px;
  left: 319px;
  top: 377px;

  background: rgba(255, 255, 255, 0.3);
  /* aa */

  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.05);
  border-radius: 40px;
  z-index: 8;
}

.frame7 {
  position: absolute;
  width: 423px;
  height: 507px;
  left: 0px;
  top: 351px;

  filter: drop-shadow(0px -5px 70px rgba(0, 0, 0, 0.1));
  border-radius: 30px;
  z-index: 7;
  overflow: hidden;
}

.rectangle274 {
  position: absolute;
  width: 175px;
  height: 5px;
  left: 124px;
  top: 483px;

  background: #6396c5;
  border-radius: 25px;
  z-index: 10;
}

.rectangle273 {
  position: absolute;
  width: 423px;
  height: 537px;
  left: 0px;
  top: -23px;

  background: rgba(230, 246, 255, 0.2);
  box-shadow: 0px -5px 70px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  z-index: 7;
}

.ellipse1main {
  position: absolute;
  width: 1277.09px !important;
  height: 862.29px !important;
  top: -254px;
  left: -561px;

  background: linear-gradient(
    244.38deg,
    #9ee8ff 8.14%,
    #5aceff 27.9%,
    #79afff 56.94%,
    #2d5fde 84.11%
  );

  filter: blur(182px);
  transform: rotate(-15deg);

  z-index: 1;
}

/* Dark */
